#runApp{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:url('../images/A.png');
	background-size:100% 100%;
}
.clock{
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#fff;
	font-size:1rem;
}